@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NSaga MVC Sample</h1>
    <p class="lead">This is a sample for using NSaga with MVC</p>
    <p><a href="https://github.com/AMVSoftware/NSaga" class="btn btn-primary btn-lg">Learn more about NSaga &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            View products to add them to your shopping basket
        </p>
        <p>
            <a class="btn btn-default" target="_blank" href="@Url.Action("Index", "Products")">List of Products &raquo;</a>
        </p>
    </div>

    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>